// Colors
$off-black: #20222b;
$off-white: #F2F2F2;
$dark-blue: hsl(227, 15%, 24%);
$blue: #3c4251;
$light-blue: #464b5e;
$yellow: #F2C608;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
